*.egg-info
*.pyc
.DS_Store
.cache
.idea
.pytest_cache
.coverage
.tox
*.shelve
__pycache__
build
dev.ini
development.ini
dist
homebrew.pth
local
log
prod*ini
prof
stage*ini
.mypy_cache
.venv
*tmp-KafkaCluster
adapted_message_processor/kafka/*.avro
.python-version
venv
creds/
.env